<!DOCTYPE html>
<html lang="en">
<!-- 引入头部 -->
<include file="Main/header" />
<body>
   <!-- 引入后台头部 -->
<include file="Main/pre_header" />
    <div>

        <div class="container-fluid">
            <div class="row">
                <!-- 引入侧边栏 -->
                <include file="Main/sidebar" />
                <div class="col-md-10">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">当前位置：菜单列表</h3>
                        </div>

                        <div class="panel-body">

                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th><abbr title="数字越小越靠前" class="initialism">序号</abbr></th><th>栏目名称</th><th>操作</th><th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <volist name="list" id="vo">
                                        <tr>
                                            <td>{$vo.sort}</th><th>{$vo.navname}</th><th><a href="__MODULE__/Nav/edit/id/{$vo.id}/type/{$vo.navname}">修改</a></th><th><a href="__MODULE__/Nav/delete/id/{$vo.id}/" onclick="return confirm('你确定删除这个栏目吗？')">删除</a></th>
                                        </tr>
                                    </volist>
                                
                                </tbody>
                            </table>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center;">
                                <nav>{$page}</nav>
                            </div>
                            
                            <a class="btn btn-primary" href="__URL__/add" role="button">添加栏目</a>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </div> 
   <!-- 引入页脚 -->
    <include file="Main/footer" />
</div>
</body>
</html>