
.comment{
    width: 100%;
    height: 100px;
}
.name1{
    width: 100%;
    height: 30px;
}

.pl{
    background: rgba(210, 210, 210, 0.61);
    line-height: 30px;
    border:1px solid rgba(141, 33, 0, 0.06);
    width: 100%;
    height: 30px;
    text-align: center;
}
.submit,.submit-btn{
    height: 35px;
    width: 80px;
    text-align: center;
    margin:0 auto;
    -moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
    background-color: #FFF;

}
.input-group{
    margin-bottom: 5px;
    margin-top: 5px;
}
.commentList div{
    line-height: 40px;
}
.content img{
    display: inline;

}
.content{
    width: 100%;word-break: break-all;word-wrap: break-word;
}
.solidline{
    width: 100%;margin:0 auto;
}
.dottedline{
    border:1px dotted #eaf4eb;width: 100%;margin:0 auto;
}
.hftime{
  float:right;padding-right: 20px; color:#16A085;
}
.hf{
    color:#16A085;
    font-size: 15px;
}
.user{
    color:#16A085;
}
.qqFace{border:1px solid #ccc;padding:10px;background-color: #FFF;}
.qqFace img{border:1px solid #ddd;padding:2px;margin:2px;cursor:pointer;}
.qqFace img:hover{border-color:red}
a,img,.submit-btn{cursor:pointer;}
input[type='text']{border:1px solid #ccc;padding:2px}
.emotion{color:red;cursor:pointer;}