<!DOCTYPE html>
<html lang="en">

<!-- 引入头部 -->
<include file="Main/header" />

<body>
	<div class="container-fluid">
		<div class="page-header">
			<h1>0533cl <small>后台管理</small></h1>
		</div>
	</div>
	<div>

		<div class="container-fluid">
			<div class="row">

				<!-- 引入侧边栏 -->
				<include file="Main/sidebar" />
				
				<div class="col-md-10">

					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">当前位置：后台首页</h3>
						</div>

						<div class="panel-body">

							<div class="row">
								<div class="col-md-2">
									<img src="1342405015.jpg" alt="admin" class="img-circle" style="height: 100px;width: 100px; text-align: left;">
								</div>
								<div class="col-md-3">
									当前时间：2008-12-27 17:03:55
									<br>
									欢迎进入网站管理中心！
								</div>

							</div>
							<br>
							

							<div class="panel panel-default">
								<!-- Default panel contents -->
								<div class="panel-heading">您的相关信息</div>
								<div class="panel-body">

									<p>登陆帐号：	admin</p>
									<p>真实姓名：	admin</p>
									<p>注册时间：	2007-7-25 15:02:04</p>
									<p>登陆次数：	58</p>
									<p>上线时间：	2008-12-27 17:02:54</p>
									<abbr title="HyperText Markup Language" class="initialism">HTML</abbr>
								</div>
								

							</div>
						</div>
						
					</div>

				</div>
			</div>
		</div>
	</div> 
	<!-- 引入页脚 -->
	<include file="Main/footer" />
</div>
</body>
</html>