<!DOCTYPE html>
<html lang="en">

<!-- 引入头部 -->
<include file="Main/head" />

<body>

	<div class="jumbotron" id="bigbanner">
		<div class="container">
			<h1><a href="__ROOT__">{$config.title}</a></h1>
			<p>{$config.keyword}</p>
		</div>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-sm-12">

			<volist name="list" id="vo">

				<div class="col-md-4" id="containone">

					<div class="col-md-12">
						<a href="__ROOT__/asset-store/{$vo.url}"><img src="__ROOT__{$vo.pic}" class="img-responsive" alt="Image"></a>
					</div>
					<div class="col-md-12">
						<h3><a href="__ROOT__/asset-store/{$vo.url}">{$vo.articletitle}</a></h3>
					</div>
					<div class="col-md-12">
						{$vo.desj|substr=0,180}...
					</div>
				</div>
			</volist>

			</div>
			<div class="col-sm-12" style="text-align: center;">
				{$page}
			</div>
			
		</div>
	</div>
	

	<!-- 引入页脚 -->
	<include file="Main/foot" />

	
	
</body>
</html>