<!DOCTYPE HTML>
<html><head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="pc,mobile" name="applicable-device">
<meta content="no-transform" http-equiv="Cache-Control">
<meta content="no-siteapp" http-equiv="Cache-Control">
<meta content="width=device-width" name="viewport">
<link href="__PUBLIC__/css/style.css" media="screen" type="text/css" rel="stylesheet">
<script src="__PUBLIC__/js/jquery.min.js"></script> 
<title>人生哲理_人生哲理文章阅读_人生哲理语录句子大全_意空间阅读网</title><meta content="人生哲理_人生哲理文章阅读_人生哲理语录句子大全" name="keywords">
<meta content="人生哲理栏目为广大网友奉献人生哲理名言，人生哲理故事，人生哲理文章，哲理名人名言名录大全。" name="description">
</head>
<body class="archive category category-philosophy-life category-18">

	<include file="Public:head" />

	<div class="wrapper">
		<div class="content">



			<!-- 分享代码 --><!-- 分享代码 -->

			<ul class="excerpt thumb">

				<li>
					<a class="pic" href="/37404.html"><img alt="世间无人知道的两个字（深度好文）" src="__PUBLIC__/img/8651323160.jpg"></a>			<h2 class="excerpt-tit">
					<a href="/37404.html">世间无人知道的两个字（深度好文）</a>
				</h2>
				<p class="excerpt-desc">

					文/释戒嗔
					淼镇上有户人家，家境富裕，一直想要个儿子，甚至不惜罚款超生，生了第三胎后，终于得了一个儿子，自然溺爱了些。儿子见到好吃好玩的，出手就要，所幸家中挺……			</p>

					<div class="excerpt-time">
						12-22			

					</div>
				</li>
			</ul>

			<div class="paging"><span class="current">1</span> <a title="第 2 页" href="/category/philosophy-life/page/2">2</a> <a title="第 3 页" href="/category/philosophy-life/page/3">3</a> <a title="第 4 页" href="/category/philosophy-life/page/4">4</a> <a title="第 5 页" href="/category/philosophy-life/page/5">5</a> <span class="dots"> ... </span><a title="»" href="/category/philosophy-life/page/57">57</a> <a href="/category/philosophy-life/page/2">&gt;</a>{$show}</div>

		</div>




		<include file="Public:sidebar" />

	</div>
</div>
<include file="Public:foot" />

</body>
</html>