<!DOCTYPE html>
<html lang="en">

<!-- 引入头部 -->
<include file="Main/head" />

<body>

	<div class="jumbotron" id="bigbanner">
		<div class="container">
			<h1><a href="__ROOT__">{$config.title}</a></h1>
			<p>{$config.keyword}</p>
		</div>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-sm-12">

			<volist name="list" id="vo">

				<div class="col-sm-4" id="containone">

					<div class="col-sm-12">
						<a href="__MODULE__/Article/index/id/{$vo.id}"><img src="__ROOT__{$vo.pic}" class="img-responsive" alt="Image"></a>
					</div>
					<div class="col-sm-12">
						<h3><a href="__MODULE__/Article/index/id/{$vo.id}">{$vo.articletitle}</a></h3>
					</div>
					<div class="col-sm-12">
						{$vo.desj}
					</div>
				</div>
			</volist>

			</div>
			<div class="col-sm-12">
				{$page}
			</div>
			
		</div>
	</div>
	

	<!-- 引入页脚 -->
	<include file="Main/foot" />

	
	
</body>
</html>