<!DOCTYPE html>
<html lang="en">
<!-- 引入头部 -->
<include file="Main/header" />
<body>
  <script type="text/javascript">
    $(function(){
      var ue = UE.getEditor('container',{
        serverUrl :'{:U('Admin/Article/ueditor')}'
      });
    })
  </script>
  <!-- 引入后台头部 -->
<include file="Main/pre_header" />
  <div>

    <div class="container-fluid">
      <div class="row">
        <!-- 引入侧边栏 -->
        <include file="Main/sidebar" />
        <div class="col-md-10">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">当前位置：修改文章</h3>
            </div>

            <div class="panel-body">

             <div class="col-sm-10">

               <form action="__CONTROLLER__/updateArticle" method="POST" class="form-horizontal" role="form"  enctype="multipart/form-data">
                 <input type="hidden" name="id" value="{$data.id}"  />
                 <div class="form-group">
                   <legend>修改文章</legend>

                 </div>

                 <div class="form-group">
                   <div class="col-sm-2">
                     文章标题
                   </div>
                   <div class="col-sm-6">
                     <input type="text" name="articletitle" id="input" class="form-control" value="{$data.articletitle}">
                   </div>
                 </div>

                 <div class="form-group">
                   <div class="col-sm-2">
                     文章链接
                   </div>
                   <div class="col-sm-6">
                     <input type="text" name="url" id="input" class="form-control" value="{$data.url}">
                   </div>
                 </div>

                 <div class="form-group">
                   <div class="col-sm-2">
                     文章简述
                   </div>
                   <div class="col-sm-6">
                     <textarea name="desj" class="form-control" rows="2">{$data.desj}</textarea>
                   </div>
                 </div>

                 <div class="form-group">
                   <div class="col-sm-2">
                     文章图片
                   </div>
                   <div class="col-sm-6">
                     <div class="col-sm-6"><input type="file" id="exampleInputFile" name="pic"></div>
                     <div class="col-sm-6">

                       <if condition="$data[pic] != '' ">
                        <img src="__ROOT__{$data.pic}"  height="40"></td>
                        <else />
                        暂无缩略图
                      </if>
                    </div>

                  </div>
                </div>

                <div class="form-group">
                 <div class="col-sm-2">
                   文章内容
                 </div>
                 <div class="col-sm-10">
                   <script id="container" name="articlecontent" type="text/plain">{$data.articlecontent|htmlspecialchars_decode|stripslashes}</script>
                 </div>
               </div>

               <div class="form-group">
                 <div class="col-sm-10 col-sm-offset-2">
                   <button type="submit" class="btn btn-primary">修改</button>
                 </div>
               </div>

             </form>
           </div>
         </div>

       </div>

     </div>
   </div>
 </div>
</div> 
<!-- 引入页脚 -->
<include file="Main/footer" />
</div>
</body>
</html>