<head>
	<meta charset="UTF-8">
	<title>

    <eq name="Think.const.CONTROLLER_NAME" value="Index">
    {$config.title} - {$config.keyword}
    </eq>

    <eq name="Think.const.CONTROLLER_NAME" value="Article">
    {$data.articletitle} - {$config.title}
    </eq>

    <eq name="Think.const.CONTROLLER_NAME" value="Page">
    {$data.pagetitle} - {$config.title}
    </eq>

    </title>
	<meta name="keywords" content="{$config.keyword}" />
	<meta name="description" content="{$data.description}" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/amoee.css">
    <link href="__PUBLIC__/Comment/css/base.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/Comment/js/modernizr.js"></script>
    <![endif]-->
</head>